{% extends 'base.html' %}
{% block title %}New Notes{% endblock %}
{% block main %}
      <h3>New Notes</h3>
      <div class="container">

        <form method="POST">
        <div class="form-group m-2">
            <label for="title" class="form-label">Title</label>
            <input type="text" id="title" class="form-control"
              placeholder="Type here the title..."
              name="title" value="{{ note.title }}"/>
        </div>
        <div class="form-group m-2">
          <label for="notes" class="form-label">Notes</label>
          <textarea id="notes" class="form-control" 
              placeholder="Type here the notes..." 
              name="notes">{{ note.notes }}</textarea>
        </div>
        <button type="submit" class="btn btn-success">Create</button>
        </form>

      </div>
{% endblock %}
     
