{% extends 'base.html' %}
{% block title %}List of Notes{% endblock %}
{% block main %}
      <h3>List of Notes</h3>
      <div class="container">
      <table class="table table-light border-success table-hover">
          <thead>
              <tr> <th>#</th> <th>title</th> <th></th> </tr>
          </thead>
          <tbody>
            {% for note in notes %}
            <tr> <td>{{ note.sno }}</td> <td>{{ note.title }}</td> 
              <td align="right">
                <a href="/view/{{ note.id }}" class="btn btn-success">View</a>
                <a href="/edit/{{ note.id }}" class="btn btn-warning">Edit</a>
                <button type="button" class="btn btn-danger">Delete</button>
              </td> 
            </tr>
            {% endfor %}
          </tbody>
      </table>
    </div>
    {% endblock %}
